<!doctype html>
<html lang="en">

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ assetPath "app.css" }}">
</head>

<body>
    <main class="container-fluid" ui-view>
        <div class="row">
            <div class="col-xs-12">
                <h1>Hello World!</h1>
                <a href="" ui-sref="app.example">Example state</a>
            </div>
        </div>
    </main>

    <script src="{{ assetPath "app.min.js" }}"></script>
    <!-- <script src="{{ assetPath "registration.worker.js" }}"></script> -->
</body>

</html>
